@font-face {
    font-family: 'nexa slab';
    src: url(NexaSlabDemo-Regular.otf);
}

* {
    background-color: #f3f3f3;
    font-family: Roboto, sans-serif;
    line-height: 1.4;
    box-sizing: border-box;
    max-width:100%;
}
.navwrapper{
    display: block;
    padding: 3px 30px;
}
.uppernav{
    display: flex;
    justify-content: flex-end;
    
}

.uppernav1{
    font-size: 14px;
    display: inline-flex;  
}

.uppernav1 li{
    padding: 0px 30px;
    list-style-type: none;
    
}
.uppernav1 li a{
    text-decoration: none;
    color: black;
}

.imagelogo{
    width: 140px;
    display: block;
}

.lowernav{
    display: flex;
}
.img{
    display: inline-flex;
    flex: auto;
    justify-content: flex-start;
}

.lowernav1{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    padding-top: 10px;
    padding-right: 30px;
}
.lowernav1 ul li{
    display: inline-flex;
    list-style-type: none;
    padding-left: 75px;
}

.lowernav1 ul li a{
    text-decoration: none;
    color: black;
}

.lowernav1 ul li i {
    padding-left: 10px;
    color:darkgrey;
}
.font{
    padding: 15px 60px;
}
.fontopening{
    font-size: 47px;
    padding-top: 10px;
    
}
.fontopening h1{
    font-family: 'nexa slab';
    text-align: center;
    color: black;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.font p{
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    padding: 0px 23%;
    line-height: 1.4;
}
.contentimg{
    padding: 10px 50px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px 30px;
}
.container>div {
    border-radius: 30px;
    text-align: center;
    padding: 20px 10px;
    font-size: 10px;
    border-style: dashed;
}
.col1 {
    grid-row-start: 1;
    grid-row-end: 20;
    grid-column-start: 1;
    grid-column-end: 3;
}
.col2{
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 3;
    grid-column-end: 5;

}
.col3 {
    grid-row-start: 10;
    grid-row-end: 20;
    grid-column-start: 3;
    grid-column-end: 5;
}
@media screen and (max-width:1000px) {
    .col1 {
        grid-row-start: 1;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    .col2 {
        grid-row-start: 10;
        grid-row-end: 20;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    .col3 {
        grid-row-start: 20;
        grid-row-end: 30;
        grid-column-start: 1;
        grid-column-end: 5;
        }
}
